* {
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 15px;
    background-image: url("/assets/bgtile/grid1.jpg");
    color: #230b02;
    background-color: #f5e0b1;
}

header {
    padding-bottom: 15px;
}

main {
    column-width: 400px;
    column-gap: 15px;
}

h1, h2 {
    font-family: jamesschool;
    margin-bottom: 8px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
}

p {
    margin: 8px 0;
}

a {
    color: #581919;
}

a:hover {
    color: #a31919;
}

.linkfloat {
    background-color: #f5e0b1;
    padding: 3px;
    box-shadow: 0 1px 5px rgba(35, 11, 2, 0.8);
}

.stickynote {
    margin-bottom: 15px;
    padding: 15px;
    break-inside: avoid;
    background-color: #f5e0b1;
    box-shadow: 5px 5px 10px rgba(35, 11, 2, 0.8);
    z-index: 2;
}

.pinned {
    position: absolute;
    top: 56px;
    margin-left: 12px;
    rotate: -14deg;
    pointer-events: none;
}

.center {
    text-align: center;
}

@font-face {
    font-family: jamesschool;
    src: url("/assets/fonts/James_School.woff");
}

@media only screen and (width > 800px) {
    .scrollup {
        display: none;
    }
}